@media only screen and (min-width: 1800px){
	body{
		font-size: 18px;
	}
}
@media only screen and (max-width: 1279px){
	.wide-wrapper{
		max-width: none;
	}
	.header-main>img{
		height: 400px;
	}
}
@media only screen and (max-width: 1180px){
	.header-head>.wide-wrapper{
		padding-left: 5px;
	}
	.header-main .section>.head{
		font-size: 2.2em;
		line-height: 40px;
	}
	.header-main .section>.head span{
		font-size: 24px;
		line-height: 28px;
	}
	#header-main-white .section>img{
		width: 200px;
		height: 200px;
		bottom: -10px;
	}	
	#header-main-dark .section>img{
		height: 150px;
		width: auto;
		bottom: 45px;
	}
	#header-main-dark{
		justify-content: flex-end;
		width: 100%;
		box-sizing: border-box;
		padding-right: 50px;
	}
	#header-main-dark .section{
		width: 50%;
		max-width: 465px;
	}
	.why-we-item img{
		height: 120px;
	}
	.our-adventages-main>img{
		height: 200px;
		top: 95px;
	}
	.our-photo{
		padding: 20px 10px 40px;
	}
	.map>.wide-wrapper{
		padding-right: 10px;
	}
	.footer-main>.wide-wrapper{
		padding-left: 5px;
		padding-right: 30px;
	}
}
@media only screen and (max-width: 1024px){
	.header-head>.wide-wrapper>.telephone{
		display: none;
	}
	#header-main-white .section>img{
		bottom: 50px;
	}	
	.telephone-less-1024{
		display: flex;
	}
	.why-we-section{
		flex-wrap: wrap;
	}
	.why-we-item{
		width: 45%;
		height: 250px;
		margin-bottom: 20px;
	}
	.why-we-item img{
		margin-bottom: 15px;
	}
	.why-we-item .head{
		margin-bottom: 15px;
	}
	.our-adventages-main>img{
		margin-top: 130px;
	}
	.column-left-item,
	.column-right-item{
		width: 95%;
	}
}
@media only screen and (max-width: 980px){
	#header-main-dark{
		justify-content: center;
		max-width: none;
	}
	#header-main-dark .section{
		width: 100%;
		max-width: none;
	}
	.header-main{
		height: auto;
		min-height: 500px;
		padding-bottom: 15px;
		align-self: center;
	}
	.header-main .section>.head{
		width: 100%;
	}

	.header-main .section>img{
		display: none;
	}
	.header-slider{
		height: auto;
	}
	.our-adventages-main>img{
		display: none;
	}
	.main-row{
		height: 150px;
	}
	.main-row:first-child{
		height: 165px;
	}
	.main-row:not(:last-child){
		margin-bottom: 10px;
	}
	.main-row-sec-1{
		margin-right: 15px;
	}
	.main-row-sec-1 img:not(:first-child),
	.main-row-sec-2 img:not(:first-child){
		margin-left: 10px;
	}
	.signature{
		margin-left: 15px;
	}
	.footer-main>.wide-wrapper{
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
@media only screen and (max-width: 860px){
	#header-main-white,
	#header-main-dark{
		padding: 0 10px 15px;
	}
	.signature{
		margin:0 auto;
	}
	.contacts{
		position: static;
		margin: 0 auto;
		padding: 0 0 30px;
	}
	.map>.wide-wrapper{
		padding-right: 0;
		width: auto;
		position: static;
	}
	.map{
		height: 250px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.map-wrapper{
		height: 530px;
	}
}
@media only screen and (max-width: 780px){
	.header-head>.wide-wrapper{
		flex-wrap: wrap;
	}
	#header-main-white img{
		height: 360px;
	}
	.telephone-less-1024{
		width: 100%;
		justify-content: center;
	}
	.header-main .section>.head{
		margin-top: 20px;
	}
	.why-we>.head{
		font-size: 1.8em;
	}
	.column-left-item .main,
	 .column-right-item .main{
	 	height: 300px;
	 }
	 .our-adventages-column-left,
	  .our-adventages-column-right{
	  	height: 650px;
	  	justify-content: space-between;
	  }
	  .our-adventages-main{
	  	height: 650px;
	  }
	  .our-adventages-wrapper{
	  	justify-content: space-between;
	  }
}
@media only screen and (max-width: 740px){
	#header-main-white img,
	#header-main-dark img{
		height: 320px;
	}
	.why-we{
		padding: 10px 10px 20px;
	}
	.why-we-section{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.why-we-item{
		width: 65%;
	}
	.our-adventages-main{
		flex-direction: column;
		align-items: center;
		height: auto;
	}
	.our-adventages-column-left,
	.our-adventages-column-right{
		width: 65%;
		height: 550px;
		align-items: center;
	}
	.column-left-item:last-child,
	.column-right-item:last-child{
		margin-left: 0;
		margin-right: 0;
		width: 80%;
	}
	.column-left-item,
	.column-right-item{
		align-self: center;
	}
	.our-photo .main{
		height: auto;
	}
	.main-row,
	.main-row:first-child{
		height: 610px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}
	.main-row-sec-1,
	.main-row-sec-2{
		width: 100%;
		height: 290px;
	}
	.main-row-sec-1{
		margin-right: 0;
		margin-bottom: 15px;
	}
	.main-row:not(:first-child){
		flex-direction: column-reverse;
	}
	.main-row:not(:first-child) .main-row-sec-2{
		margin-bottom: 15px;
	}
	.main-row:first-child .main-row-sec-1 img,
	.main-row:first-child .main-row-sec-2 img,
	.main-row:not(:first-child) .main-row-sec-1 img,
	.main-row:not(:first-child) .main-row-sec-2 img{
		height: 295px;
		width: 100%;
	}	
}
@media only screen and (max-width: 700px){
	#header-main-white img,
	#header-main-dark img{
		display: none;
	}	
	#header-main-white,
	#header-main-dark{
		height: auto;
		max-height: none;
	}
	#header-main-dark.header-main,
	#header-main-white.header-main{
		min-height: 330px;
	}
}
@media only screen and (max-width: 600px){
	.header-menu .wide-wrapper li{
		padding: 10px;
	}
	.header-main img{
		height: 200px;
	}
	.header-main .section>.head{
		font-size: 1.8em;
	}
	.header-main .section>.head span{
		font-size: 22px;
	}
	.why-we .posthead{
		width: 80%;
	}
	.column-left-item,
	.column-right-item{
		width: 90%;
	}
	.column-left-item .main,
	.column-right-item .main{
		width: 95%;
	}
	.our-adventages-main{
		height: auto;
	}
	.our-adventages-column-left,
	.our-adventages-column-right{
		height: auto;
	}
	.our-adventages-column-left .main,
	.our-adventages-column-right .main{
		height: auto;
		margin-bottom: 25px;
	}
}
@media only screen and (max-width: 540px){
	.header-main img{
		display: none;
	}
	.telephone-less-1024{
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.telephone-less-1024>div{
		margin-bottom: 5px;
	}
	.telephone-less-1024>div>img{
		margin-right: 0;
	}
	.header-menu .wide-wrapper li{
		padding: 2px;
	}
	.footer-main .wide-wrapper .telephone{
		margin-top: 10px;
		margin-bottom: 8px;
	}
	#footer-tel-img{
		margin-left: 0;
	}
	.our-adventages-column-left,
.our-adventages-column-right{
	width: 100%;	
}
	.our-photo .head{
		line-height: 35px;
		text-align: center;
	}
	.our-photo .posthead{
		width: 100%;
	}
	.main-row,
	.main-row:first-child{
		height: 430px;
	}
	.main-row-sec-1,
	.main-row-sec-2{
		width: 100%;
		height: 200px;
	}
	.main-row:first-child .main-row-sec-1 img,
	.main-row:first-child .main-row-sec-2 img,
	.main-row:not(:first-child) .main-row-sec-1 img,
	.main-row:not(:first-child) .main-row-sec-2 img{
		height: 200px;
		width: 100%;
	}	
	.why-we-item{
		width: 100%;
	}
}

