body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.row{
    margin:0;
}
.main{
   background: url('../img/bg-1.png') no-repeat center 40%;
    background-size: cover;
}
.main .logo img{
   width: 100%;
    max-width: 210px;
    margin-top: 30px;
}
.main h3{
    font-size: 50px;
    margin-top: 60px;
    color: #fff;
    font-weight: 500;
    text-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.main h3 .kitch{
    font-size: 80px;
    font-weight: bold;
    color: #f4d569;
}
.main .inner{
    background-color: rgba(50,50,50,.3);
    padding: 10px 40px 25px;
    margin: 10px 0 60px;
    border-radius: 8px;
}
.form-control {
    height: 40px;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
}
.btn-danger{
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    display: block;
    height: 40px;
}
.inner h4{
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.catal{
    display: none;
}
.privacy {
    text-align: center;
    margin: 20px 0;
}
#privacy {
    cursor: pointer;
}

.foot_head, .foot_foot {
    background-color: #ac2925;
}

.modal-header {
    padding: 15px;
}

.modal-header {
    border: 0;
}

.foot_body {
    background-color: white;
}

style.css:3549
.modal-body {
    position: relative;
    padding: 15px;
}

.modal-title {
    font-size: 27px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}

textarea::-webkit-scrollbar-button {
    background-image: url(style.css);
    background-repeat: no-repeat;
    width: 5px;
    height: 0px;
}

textarea::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #ac2925;
}

textarea::-webkit-scrollbar {
    width: 6px;
}
@font-face{
    font-family:opensans;
    src:url(../fonts/OpenSansRegular.ttf);
}
@font-face{
    font-family:opensans;
    src:url(../fonts/OpenSansBold.ttf);
    font-weight: bold;
}
div{
    height: auto;
}
.bow{
    height: 100px;
}
.disigner{
    background-image: url(../img/main-bg.png);
    position: relative;
}
.arrow-down{
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #e7512d;
    position: absolute;
    left: 50%;
    top: -45px;
    border-radius: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    animation-name:arrowdown ;
    animation-iteration-count: infinite;
}
.arrow-down img{
    height: 40px;
}
@keyframes arrowdown{
    10%{
        top:-30px;
    }
    20%{
        top:-15px;
    }
    30%{
        top:-30px;
    }
    40%{
        top:-35px;
    }
    50%{
        top:-15px;
    }
    60%{
        top:px;
    }
    70%{
        top:px;
    }
    80%{
        top:px;
    }
    90%{
        top:px;
    }
    100%{
        top:px;
    }
}
.disigner>div:first-child{
    height: 55px;
}
.disigner>div:last-child{
    height: 75px;
}
.disigner__main{
    background-color: #fff;
    padding: 24px;
    border-radius: 10px;
}
.photo-disigner{
    border-radius: 10px;
}
.text-disigner{
    padding-left: 60px;
    padding-top: 30px;
}
.disigner-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.disigner__main__head{
    font-family: opensans;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
    color: #2a2a2a;
}
.disigner__main__posthead,
.disigner__main__text{
    font-family: opensans;
    font-size: 18px;
    color: #2a2a2a;
}
.disigner__main__posthead{
    margin-bottom: 20px;
}
.disigner__main__text{
    margin-bottom: 30px;
}
.inputs-block{
    margin-bottom: 18px;
}
.inputs-block>input{
    width: 47%;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    background-color: #e1e1e1;
    color: #2a2a2a;
    font-size: 18px;
    font-family: opensans;
    border-radius: 3px;
    border: none;
}
.inputs-block input:first-child{
    margin-right: 3%;
}
.get-catalog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.get-catalog button{
    border: none;
    padding: 20px 38px;
    font-size: 18px;
    font-family: opensans;
    background-color: #d9534f;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 40px;
}
.get-catalog button:hover{
    background-color: rgb(212,63,58);
    color: #fff;
}
.get-catalog p{
    font-family: opensans;
    font-size: 14px;
    color: #2a2a2a;
    text-align: center;
}
.btn{
    overflow: hidden;
    position: relative;
}
.btn:before {
    margin-left: 60px;
    content: " ";
    width: 30px;
    height: 300px;
    background: #fff;
    animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -80px;
    animation-timing-function: ease-in-out;
    transition: all .1s;
    -moz-transition: all .1s;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    -khtml-transition: all .1s;
    -ms-transition: all .1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
@keyframes slideme {
    0%   {left:-30px;margin-left: 0px;}
    30%   {left:110%;margin-left: 80px;}
    100% {left:110%;margin-left: 80px;}
}
@media only screen and (max-width: 1200px){
    .text-disigner{
        padding-left: 30px;
        padding-top: 0px;
    }
}
@media only screen and (max-width: 991px){
    .disigner__row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .disigner__main{
        align-self: center;
        padding: 14px 0;
    }
    .photo-disigner{
        margin-bottom: 30px;
    }
    .text-disigner{
        padding-left: 0;
    }
}
@media all and (max-width:768px){
    .main {
    background: url(../img/bg.png) no-repeat center center;
    background-size: cover;
}
    .main .inner {
     max-width: 452px;
     margin: 20px auto;
    }
    .catal{
    display: block;
    width: 400px;
    margin: 10px auto;
}
    .catal img{
        width: 100%;
    }    
    .inputs-block>input{
        width: 100%;
    }
    .inputs-block input:first-child{
        margin-right: 0;
        margin-bottom: 10px;
    }       
}
@media all and (max-width:491px){
    .main h3 {
    font-size: 36px;
    text-align: center;
    }
    .catal{
    max-width: 300px;
    }
    .main h3 .kitch {
    font-size: 60px;
    }
}
@media all and (max-width:332px){
    .catal{
    max-width: 270px;
    }
}