
@font-face{
	font-family: myriad;
	src:url(../fonts/MyriadPro-Regular.otf);
	font-weight: 400;
}
@font-face{
	font-family: myriad;
	src:url(../fonts/MyriadPro-Bold.otf);
	font-weight:600;
}
@font-face{
	font-family:postal;
	src:url(../fonts/postal.ttf);
	font-weight:400;
}
.flex-block{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.conteiner{
	width: 100%;
	max-width: 1440px;
}
/*-----HEADER START-----*/
header.flex-block{
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: rgba(0,0,0,.2);
	transition: .5s;
}
header:hover{
	background-color: rgba(0,0,0,1);
	align-items: center;
}
header:hover .bottom{
	display: flex;
	transition: .5s;
}
header .logo{
	box-sizing: border-box;
	padding: 10px 0;
}
header .bottom{
	justify-content: space-between;
	padding: 6px;
	box-sizing: border-box;
	display: none;
}
header .logo span{
	display: block;
	font-size: 34px;
	font-family: myriad;
	font-weight: 400;
	color: #fff;
}
header .menu{
	list-style: none;
	text-transform: capitalize;
}
header .menu a{
	font-size: 16px;
	font-family: myriad;
	font-weight: 400;
	margin:0 15px;
	text-decoration: none;
	color: #fff;
	transition: .4s;
}
header .menu a:hover{
	color: #9e7c05;
}
header .search,
header .store{
	height: 26px;
	width: 26px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: .4s;
}
header .search{
	background-image: url(../img/search.svg);
}
header .search:hover{
	background-image: url(../img/search-hover.svg);
}
header .store{
	background-image: url(../img/paper-bag.svg);
}
header .store:hover{
	background-image: url(../img/paper-bag-hover.svg);
}
/*------HEADER END-----*/
.main-wrapper{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/crow.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.head-baner,
.about-us,
.portfolio,
.features,
.blog{
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background-color: #fff;
}
.about-us,
.features{
	background-color: red;
}
.swiper-container{
	width: 500px;
	height: 500px;
	margin: 0 auto;
}
.main-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



/*----------FOOTER START--------------------*/
footer{
	background-color: rgba(0,0,0,.2);
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	transition: .5s;
}
footer:hover{
	background-color: rgba(0,0,0,1);
}
footer .conteiner{
	justify-content: space-between;
}
footer .left span.name{
	color: #4d4d4d;
	margin-right: 5px;
}
footer .main-color{
	color:#ffc600;
}
footer .left a{
	color: #4d4d4d;
	text-decoration: none;
	transition: .3s;
}
footer .left a:before{
	content: "";
	height: 10px;
	width: 1px;
	display: inline-block;
	background-color: #4d4d4d;
	margin-right: 10px;
	margin-left: 5px;
}
footer .left a:hover{
	color:#ffc600;
}

/*-------------------FOOTER END-----------------*/
/*-------------------prev-page------------------*/
.prev-page{
	width: 100%;
	height: 100vh;
	background-color: #000;
}
.prev-page .content{
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.prev-page .content span{
	text-align: center;
	display: block;
	font-size: 36px;
}
.prev-page .logo{
	padding-bottom: 35px;
	font-family:postal;
}
.prev-page .content span.small{
	font-size: 19px;
}
.prev-page .menu{
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	list-style: none;
	height: 60px;
}
.prev-page .menu a{
	text-decoration: none;
	color: #fff;
}
.prev-page .menu span{
	font-size: 12px;
}
.prev-page .menu div{
	display: none;
}
.prev-page .menu li{
	cursor: pointer;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 25px;
}
.prev-page .menu li span.icon{
	font-size: 34px;
	margin-bottom: 10px;
}


















