@font-face{
	font-family:opensans;
	src:url(../fonts/OpenSansRegular.ttf);
}
@font-face{
	font-family:opensans;
	src:url(../fonts/OpenSansBold.ttf);
	font-weight: bold;
}
div{
	height: auto;
}
.bow{
	height: 100px;
}
.disigner{
	background-image: url(../img/main-bg.png);
	position: relative;
}
.arrow-down{
	cursor: pointer;
	width: 80px;
	height: 80px;
	background-color: #e7512d;
	position: absolute;
	left: 50%;
	top: -45px;
	border-radius: 100%;
	transform: translateX(-50% 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation-duration: 2s;
  	animation-name:arrowdown ;
  	animation-iteration-count: infinite;
}
.arrow-down img{
	height: 40px;
}
@keyframes arrowdown{
	10%{
		top:-30px;
	}
	20%{
		top:-15px;
	}
	30%{
		top:-30px;
	}
	40%{
		top:-35px;
	}
	50%{
		top:-15px;
	}
	60%{
		top:px;
	}
	70%{
		top:px;
	}
	80%{
		top:px;
	}
	90%{
		top:px;
	}
	100%{
		top:px;
	}
}
.disigner>div:first-child{
	height: 55px;
}
.disigner>div:last-child{
	height: 75px;
}
.disigner__main{
	background-color: #fff;
	padding: 24px;
	border-radius: 10px;
}
.photo-disigner{
	border-radius: 10px;
}
.text-disigner{
	padding-left: 60px;
	padding-top: 30px;
}
.disigner-flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.disigner__main__head{
	font-family: opensans;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 19px;
	color: #2a2a2a;
}
.disigner__main__posthead,
.disigner__main__text{
	font-family: opensans;
	font-size: 18px;
	color: #2a2a2a;
}
.disigner__main__posthead{
	margin-bottom: 20px;
}
.disigner__main__text{
	margin-bottom: 30px;
}
.inputs-block{
	margin-bottom: 18px;
}
.inputs-block>input{
	width: 47%;
	height: 50px;
	box-sizing: border-box;
	padding: 15px;
	background-color: #e1e1e1;
	color: #2a2a2a;
	font-size: 18px;
	font-family: opensans;
	border-radius: 3px;
	border: none;
}
.inputs-block input:first-child{
	margin-right: 3%;
}
.get-catalog{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.get-catalog button{
	border: none;
	padding: 20px 38px;
	font-size: 18px;
	font-family: opensans;
	background-color: #d9534f;
	color: #fff;
	border-radius: 3px;
	margin-bottom: 40px;
}
.get-catalog p{
	font-family: opensans;
	font-size: 14px;
	color: #2a2a2a;
	text-align: center;
}
@media only screen and (max-width: 1200px){
	.text-disigner{
		padding-left: 30px;
		padding-top: 0px;
	}
}
@media only screen and (max-width: 991px){
	.disigner__row{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.disigner__main{
		align-self: center;
		padding: 14px 0;
	}
	.photo-disigner{
		margin-bottom: 30px;
	}
	.text-disigner{
		padding-left: 0;
	}
}
@media only screen and (max-width: 768px){
	.inputs-block>input{
		width: 100%;
	}
	.inputs-block input:first-child{
		margin-right: 0;
		margin-bottom: 10px;
	}
}


