@media only screen and (max-width: 1280px) {
body{
	font-size: 15px;
}
.footer-stay-in-touch-review{
	width: 90%;
	max-width: 320px;
}
.footer-stay-in-touch-text{
	width: 83%
}
.footer-stay-in-touch-button{
	width: 17%;
}
}
@media only screen and (max-width: 1024px) {
.about-us-section-head{
	font-size: 1.6em;
}
}
@media only screen and (max-width: 768px) {
body{
	font-size: 14px;
}
.header-menu-buy{
	display: none;
}
.header-menu-burger{
	font-size: 24px;
}
.masthead{
	height: auto;
}
.masthead-main{
	margin-top: 90px;
	margin-left: 25%;
}
.masthead-main-head{
	line-height: 58px;
}
.super-duper{
	height: 400px;
}
.super-duper-section-main{
	min-width: 320px;
}
.about-us{
	flex-direction:column;
	justify-content: flex-start;
}
.about-us-section{
	width: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-us-section-head,
.about-us-section-main,
.about-us-section-posthead{
	margin-bottom: 15px;
}
.about-us-section-button{
	margin-bottom: 30px;
}
.about-us-section-main{
	font-size: 1em;
	width: 90%;
}
.designed-head{
	margin-top: -60px;
}
.designed-main{
	margin-bottom: 25px;
}
.designed-section{
	width: 80%;
}
.skills{
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-left:0;
	padding-right:0;
	padding-bottom: 25px;
}
.skills-section{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.skills-section-img{
	width: 30px;
	height: 30px;
	margin-bottom: 12px;
}
.skills-section-head{
	margin-bottom: 18px;
}
.skills-section-main{
	text-align: center;
	width: 90%;
	margin-bottom: 20px;
	font-size: 15px;
}
.section-posts{
	padding-left: 0;
}
.conectivity,
.latest-news,
.your-desing{
	flex-direction: column;
}
.your-desing-post{
	padding:0;
}
.conectivity-section,
.conectivity-img,
.latest-news-video,
.latest-news-post,
.your-desing-post,
.your-desing-img{
	width: 100%;
}
.conectivity-img,
.latest-news-video,
.your-desing-img{
	height: 300px;
}
.latest-news-post,
.your-desing-post,
.conectivity-section,
.your-desing{
	height: auto;
}
.conectivity-section{
	padding:14px 5px 14px 5px;
}
.conectivity-section-posthead{
	margin-top: 14px;
	margin-bottom: 14px;
}
.conectivity-section-main{
	font-size: 15px;
}
.latest-news{
	flex-direction: column-reverse;
}
.latest-news-post-section{
	margin-top: 0;
}
.latest-news-post-autor{
	margin-bottom: 12px;
}
.your-desing-post{
	height: auto;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.your-desing-post-section-main{
	font-size: 15px;
	margin-bottom: 10px;
}
.your-desing-img{
	max-width: 768px;
	height: 250px;
	background-position: center;
}
.quote{
	height: 50vw;
}
.quote-section{
	padding:10px 15px 15px 10px;
	height: auto;
}
.quote-section-main{
	line-height: 28px;
}
.footer{
	padding:15px 10px 20px 10px;
}
.footer-get-in-touch-main{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 17px;
}
.footer-stay-in-touch-warning{
	font-size: 13px;
}
.footer-get-in-touch-head{
	margin-bottom: 12px;
}
.footer-get-in-touch-links-head{
	margin-bottom: 12px;
}
.footer-stay-in-touch-review,
.footer-stay-in-touch-text,
.footer-stay-in-touch-button{
	height: 38px;
}
}
@media only screen and (max-width: 640px) {
.header{
	padding-top: 20px;
}
.header-menu-search-section{
	width: 215px;
}
.header-menu-search{
	width: 160px;
}
.masthead{
	padding-right: 15px;
}
.masthead-main-head{
	font-size: 3.5em;
}
.super-duper{
	padding:0 15px 0 15px;
}
.quote{
	background-image: none;
	height: auto;
}
.quote-section{
	width: 100%;
}
}
@media only screen and (max-width:480px) {
.masthead .masthead-main{
	margin-top: 20px;
	margin-left: 20px;
}
.super-duper{
	justify-content: flex-start;
	align-items: center;
	height: auto;
	padding: 14px;
}
.super-duper-img{
	display: none;
}
.super-duper-section{
	width: 100%;
	margin-bottom: 0;
}
.about-us{
	padding: 14px;
}
.about-us-section{
	width: 100%;
}
.about-us-section-main{
	width: 100%;
}
.designed-main{
	width: 100%;
}
.designed-section{
	width: 96%;
}
.skills-section-main{
	width: 95%;
	max-width: none;
}
.latest-news-post{
	padding-right: 14px;
	box-sizing: border-box;
}
.latest-news-post-main{
	width: 95%;
}
.latest-news-post-foot{
	width: 15%;
	margin-left: 3px;
}
.footer{
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items:center;
}
.footer-get-in-touch,
.footer-stay-in-touch{
	width: 100%;
}
.footer-stay-in-touch-review{
	width: 250px;
}
.footer-stay-in-touch-text{
	width: 200px;
}
.footer-stay-in-touch-button{
	width: 40px;
}
.footer-stay-in-touch-warning{
	margin-bottom: 10px;
}
}
@media only screen and (max-width:375px) {
.header-menu-search-section{
	display: none;
}
.masthead-main-posthead,
.super-duper-section-main,
.about-us-section-main,
.designed-main,
.skills-section-main,
.conectivity-section-main,
.latest-news-post-name{
	font-size: 16px;
}
.super-duper-section-main{
	min-width: auto;
}
.about-us-section-main{
	font-size: 17px;
}
.latest-news-post-foot{
	width: 20%;
}
.footer-get-in-touch-main,
.footer-get-in-touch-links-item,
.footer-stay-in-touch-warning{
	font-size: 14px;
}
}