@media only screen and (min-width: 2300px){
	body{
		font-size: 22px;
	}
	.logo{
		font-size: 3.8em;
		width: 150px;
	}
	.logo span{
		font-size: 0.4em;
		margin-top: 10px;
	}
	.menu .menu-item{
		font-size: 1.8em;
	}
	.introduction>.head{
		font-size: 3.4em;
	}
	.introduction>.head span{
		font-size: 0.9em;
	}
	.introduction-section-photo{
		height: 800px;
	}
	.slider-time div{
		height: 800px;
	}
	.introduction-section-text{
		font-size: 2.2em;
		padding: 50px;
	}
	.works-head{
		font-size: 3.4em;
	}
	.section-item_head{
		font-size: 2em;
	}
	.section-item_main{
		font-size: 1.6em;
		height: 500px;
	}
	.section-item_button{
		width: 220px;
		height: 80px;
		font-size: 1.4em;
	}
	.specialy-work .head{
		font-size: 2.4em;
	}
	.specialy-main-img{
		width: 280px;
		height: 280px;
	}
	.specialy-item{
		font-size: 2.2em;
	}
	.specialy-close{
		width: 75px;
		height: 55px;
	}
	.context-main{
		font-size: 2em;
	}
	.close{
		width: 24px;
		height: 24px;
	}
}
@media only screen and (min-width: 1900px) {
	body{
		font-size: 22px;
	}
	.logo{
		font-size: 3.6em;
		width: 120px;
	}
	.logo span{
		font-size: 0.3em;
	}
	.menu-item{
		font-size: 1.5em;
	}
	.introduction>.head{
		font-size: 3.2em;
	}
	.introduction-section-text{
		font-size: 1.9em;
	}
	.slider-time,.slider-time div{
		min-height: 600px;
	}
	.works-head{
		font-size: 3em;
	}
	.section-item_head{
		font-size: 2em;
	}
	.section-item_main{
		font-size: 1.6em;
		height: 550px;
	}
	.section-item_button{
		font-size: 1.3em;
	}
	.context-main{
		font-size: 1.8em;
	}
	.slider-box,.slider img{
		width: 1200px;
		height: 700px;
	}
	.slider{
		height: 700px;
	}
	.slider-box .prev, .slider-box .next{
		top: -350px;
		width: 40px;
		height: 40px;
	}
	.specialy-work .head{
		font-size: 3em;
	}
	.specialy-main-img{
		width: 300px;
		height: 300px;
	}
	.specialy-item{
		font-size: 2em;
	}
	.contacts div{
		font-size: 1.6em;
	}
	.contacts .close{
		width: 27px;
		height: 27px;
	}
}
@media only screen and (min-width: 1800px) {
.logo{
		font-size: 3.6em;
		width: 120px;
	}
	.logo span{
		font-size: 0.3em;
	}
	.menu-item{
		font-size: 1.5em;
	}
	.introduction>.head{
		font-size: 3.2em;
	}
	.introduction-section-text{
		font-size: 1.9em;
	}
	.slider-time,.slider-time div{
		min-height: 600px;
	}
	.works-head{
		font-size: 3em;
	}
	.section-item_head{
		font-size: 2em;
	}
	.section-item_main{
		font-size: 1.6em;
		height: 550px;
	}
	.section-item_button{
		font-size: 1.3em;
	}
	.context-main{
		font-size: 1.8em;
	}
	.slider-box,.slider img{
		width: 1200px;
		height: 700px;
	}
	.slider{
		height: 700px;
	}
	.slider-box .prev, .slider-box .next{
		top: -350px;
		width: 40px;
		height: 40px;
	}
	.specialy-work .head{
		font-size: 3em;
	}
	.specialy-main-img{
		width: 300px;
		height: 300px;
	}
	.specialy-item{
		font-size: 2em;
	}
	.contacts div{
		font-size: 1.6em;
	}
	.contacts .close{
		width: 27px;
		height: 27px;
	}
}
@media only screen and (min-width: 1600px) {
	.logo{
		font-size: 3.6em;
		width: 120px;
	}
	.logo span{
		font-size: 0.3em;
	}
	.menu-item{
		font-size: 1.5em;
	}
	.introduction>.head{
		font-size: 3.2em;
	}
	.introduction-section-text{
		font-size: 1.9em;
	}
	.slider-time,.slider-time div{
		min-height: 600px;
	}
	.works-head{
		font-size: 3em;
	}
	.section-item_head{
		font-size: 2em;
	}
	.section-item_main{
		font-size: 1.6em;
		height: 650px;
	}
	.section-item_button{
		font-size: 1.3em;
	}
	.context-main{
		font-size: 1.8em;
	}
	.slider-box,.slider img{
		width: 1200px;
		height: 700px;
	}
	.slider{
		height: 700px;
	}
	.slider-box .prev, .slider-box .next{
		top: -350px;
		width: 40px;
		height: 40px;
	}
	.specialy-work .head{
		font-size: 3em;
	}
	.specialy-main-img{
		width: 250px;
		height: 250px;
	}
	.specialy-item{
		font-size: 2em;
	}
	.contacts div{
		font-size: 1.6em;
	}
	.contacts .close{
		width: 27px;
		height: 27px;
	}
}
@media only screen and (min-width: 1440px) {
	.logo{
		font-size: 3.6em;
		width: 120px;
	}
	.logo span{
		font-size: 0.3em;
	}
	.menu-item{
		font-size: 1.5em;
	}
	.introduction>.head{
		font-size: 3.2em;
	}
	.introduction-section-text{
		font-size: 1.9em;
	}
	.slider-time,.slider-time div{
		min-height: 600px;
	}
	.works-head{
		font-size: 3em;
	}
	.section-item_head{
		font-size: 2em;
	}
	.section-item_main{
		font-size: 1.6em;
		height: 650px;
	}
	.section-item_button{
		font-size: 1.3em;
	}
	.context-main{
		font-size: 1.8em;
	}
	.slider-box,.slider img{
		width: 1200px;
		height: 700px;
	}
	.slider{
		height: 700px;
	}
	.slider-box .prev, .slider-box .next{
		top: -350px;
		width: 40px;
		height: 40px;
	}
	.specialy-work .head{
		font-size: 3em;
	}
	.specialy-main-img{
		width: 250px;
		height: 250px;
	}
	.specialy-item{
		font-size: 2em;
	}
	.contacts div{
		font-size: 1.6em;
	}
	.contacts .close{
		width: 27px;
		height: 27px;
	}
}
@media only screen and (max-width: 1080px){
	.section-item_main{
		height: 400px;
	}
	.context-close{
		right: 46%;
	}
}
@media only screen and (max-width: 1024px){
	.specialy-main-img{
		width: 130px;
		height: 130px;
	}
	.section-item_main{
		height: 420px;
	}
}
@media only screen and (max-width: 980px){
	.section-item_main{
		height: 440px;
	}
}
@media only screen and (max-width: 960px){
	.section-item_main{
		height: 460px;
	}
}
@media only screen and (max-width: 860px){
	.section-item_main{
		height: 510px;
	}
	.introduction-section-2 .introduction-section-text{
	padding-left: 5%;
}
}
@media only screen and (max-width: 825px){
	.section-item_main{
		height: 535px;
	}
	.slider-box,.slider img{
		width: 600px;
		height: 300px;
	}
	.slider{
		height: 300px;
	}
}
@media only screen and (max-width: 800px){
	.content{
		padding: 0;
	}
	.works-section{
		flex-direction: column;
		align-items: flex-start;
		padding-left: 65px;
		padding-right: 65px;
	}
	.works-section-item{
		width: 100%;
		max-width: none;
		margin-bottom: 25px;
	}
	.works-section-item .section-item_main{
		height: auto;
		max-width: none;
		min-height: auto;
	}
	.section-item_button{
		float: right;
	}
}
@media only screen and (max-width: 720px){

}
@media only screen and (max-width: 640px){
	.specialy-work{
		padding: 20px 10px 20px 10px;
	}
	.slider-time{
		min-height: 300px;
	}
	.slider-time div{
		min-height: 300px;
		min-width: 410px;
	}
	.slider-box,.slider img{
		height: 250px;
		width: 440px;
	}
	.slider{
		height: 250px;
	}
}
@media only screen and (max-width: 600px){
	.introduction-section-text{
		padding: 20px 12px 20px 12px;
		line-height: 1.3em;
	}
	.specialy-main-img{
		width: 100px;
		height: 100px;
	}
}
@media only screen and (max-width: 520px){
	.header{
		padding: 10px 5px 10px 5px;
	}
	.introduction-section{
		width: 100%;
	}
	.introduction-section-text{
		font-size: 1.4em;
	}
	.slider-time{
		min-height: 220px;
	}
	.slider-time div{
		min-height: 220px;
		min-width: 320px;
	}
	.slider-box,.slider img{
		width: 320px;
		height: 220px;
	}
	.slider{
		height: 220px;
	}
	.slider-box .prev, .slider-box .next{
		top: -110px;
	}
	.specialy-item div{
		font-size: 0.8em;
	}
}
@media only screen and (max-width: 480px){
	.slider-box,.slider img{
		width: 320px;
		height: 220px;
	}
	.slider{
		height: 220px;
	}
}
@media only screen and (max-width: 460px){
	.introduction>.head{
		font-size: 2.5em;
	}
	.introduction{
		padding-right: 0;
		padding-left: 0;
	}
	.introduction-section-text{
		font-size: 1.2em;
	}
	.our-works{
		background-position: 50%;
	}
	.specialy-close{
		margin-right: 8px;
	}
}

@media only screen and (max-width: 420px){
	.introduction-section-text{
		line-height: 1.1em;
	}
	.works-section{
		padding-right: 20px;
	}
	.specialy-main-img{
		width: 62px;
		height: 62px;
	}
}

@media only screen and (max-width: 400px){
	.introduction .head{
		font-size: 2.2em;	
	}
	.menu .menu-item{
		font-size: 1.2em;
		margin-right: 0;
	}
	.introduction-section-text{
		letter-spacing: 0.7px;
	}
	.works-head{
		font-size: 2em;
	}
	.works-section{
		padding-left: 35px;
	}
	.specialy-item{
		font-size: 1.2em;
	}
	.contacts_message-menu{
		width: 50px;
		height: 80px;
	}
	.contacts_message-menu>.item,
	.contacts_message-menu a>.item{
		width: 35px;
		height: 35px;
	}
}