@font-face{
	font-family: main;
	src:url(../fonts/ProximaNovaLight.otf); 
}
@font-face{
	font-family: head;
	src:url(../fonts/inglobal.ttf); 
}
body{
	font-size: 16px;
	font-family: main;
}

.flex-block{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
button{
	outline: none;
}
button:hover{
	box-shadow: 3px 3px 3px black;
	text-shadow: 1px 1px 1px black;
}
/* шапка сайта*/
.header{
	box-sizing: border-box;
	padding: 30px 4.5% 30px 4.5%;
	width: 100%;
	height: auto;
	background-color: #eeecf1;
	justify-content: space-between;
}
.logo{
	font-size: 3em;
	line-height: 0.4em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 4px 3px 10px #141315;
}
.logo a{
	color: #500aed;
	text-decoration: none;
}
.logo span{
	font-size: 0.25em;
	color: black;
	line-height: 0.2em;
}
.menu{
	list-style: none;
	flex-direction: column;
}
.menu-item{
	margin-right: 26px;
	color: #080622;
	font-size: 1.2em;
	text-shadow: 0 1px 0 #141315;
	margin-bottom: 7px;
	text-align: right;
}
.menu-item span{
	color: red;
	font-weight: bold;
}
/*общий блок с контентом*/
.content{
	box-sizing: border-box;
	padding: 0 4.5% 0 4.5%;
	width: 100%;
	height: auto;
}
/*блок с основным описанием и автослайдерами*/
.introduction{
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #2D3C82;
	padding-bottom: 25px;
}
.introduction>.head{
	font-size: 2.8em;
	text-transform: uppercase;
	color:#dfdfee;
	font-family: head;
	margin-top: 15px;
	line-height: 1em;
	text-align: center;
	margin-bottom: 25px;
	text-shadow: 0 0 10px #141315;
}
.introduction>.head span{
	font-size: 0.6em;
	margin-top: 0;
	line-height: 0;
}
.introduction-section{
	width: 91%;
	height: auto;
	min-height: 440px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0;
}
.introduction-section-2{
	flex-direction: column;
}
.introduction-section-2 .introduction-section-text{
	padding-left: 25%;
}
.introduction-section-text{
	width: 100%;
	height: auto;
	padding: 35px 12px 35px 12px;
	font-size: 1.6em;
	line-height: 1.5em;
	box-sizing: border-box;
	color:#dfdfee;
}
.introduction-section-text li:first-child{
	list-style: none;
}
.introduction-section-text li:not(:first-child) {
	padding-left: 50px;
}
.introduction-section-photo{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.slider-time{
	position: relative;
	width: 100%;
	min-height: 440px;
	height: auto;
	margin: 0;
}
.slider-time div{ 
	position: absolute;
	top:0;
	left: 0;
	height: auto;
	width: 100%;
	min-width: 600px;
	min-height: 440px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.slider-time-img1{
	background: url(../img/time-slider/time-slider-1-img-1.gif) rgba(11,11,11,0.4);
}
.slider-time-img2{
	background: url(../img/time-slider/time-slider-1-img-2.gif) rgba(11,11,11,0.4);
}
.slider-time-img3{
	background: url(../img/time-slider/time-slider-1-img-3.gif) rgba(11,11,11,0.4);
}
.slider-time-img4{
	background: url(../img/time-slider/time-slider-1-img-4.gif) rgba(11,11,11,0.4);
}
.slider-time-img5{
	background: url(../img/time-slider/time-slider-1-img-5.gif) rgba(11,11,11,0.4);
}
.slider-time-2-1{
	background: url(../img/time-slider-2/time-slider-2-img-1.png) rgba(11,11,11,0.4);
}
.slider-time-2-2{
	background: url(../img/time-slider-2/time-slider-2-img-2.png) rgba(11,11,11,0.4);
}
.slider-time-2-3{
	background: url(../img/time-slider-2/time-slider-2-img-3.png) rgba(11,11,11,0.4);
}
.slider-time-2-4{
	background: url(../img/time-slider-2/time-slider-2-img-4.png) rgba(11,11,11,0.4);
}
.slider-time-2-5{
	background: url(../img/time-slider-2/time-slider-2-img-5.png) rgba(11,11,11,0.4);
}

/*блок с видами фундаментов*/
.our-works{
	flex-direction: column;
	background-image: url(../img/img_0014.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-size:cover;
	height: auto;
}
.works-head{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 2.2em;
	font-family: head;
}
.works-section{
	width: 100%;
	justify-content: space-between;
	background-color: rgba(0,0,0,.7);
	padding: 10px 4.5% 30px 4.5%;
	box-sizing: border-box;
}
.works-section-item{
	width: 32%;
	max-width: 550px;
}
.section-item_head{
	margin-bottom: 21px;
	font-size: 1.5em;
	color: #fff;
}
.section-item_main{
	line-height:1.3em;
	font-size: 1.1em;
	height: 350px;
	width: 100%;
	max-width: 550px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.section-item_button{
	width: 150px;
	height: 50px;
	color: #fff;
	background-color: #3d4ef4;
	border-radius: 50px;
	cursor: pointer;
	border: none;
}
/*блоки с более подробным описанием фундаментов и фото*/
.context-section{
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: auto;
	background-color: #274E7D;
	box-sizing: border-box;
	padding-bottom: 20px;
	padding-top: 20px;
	display: none;
}
.context-item{
	width: 100%;
	height: auto;
	flex-direction: column;
}
.context-main{
	width: 91%;
	color: #fff;
	text-indent: 15px;
	font-size: 1.2em;
	line-height: 1.3em;
	letter-spacing: 1px;
}
#item-3, #item-1, #item-2{
	display: none;
}
.context-close{
	width: 35px;
	height: 35px;
	position: relative;
	right: 48%;
	top:-5px;
	cursor: pointer;
	display: none;
	border: 1px solid #fff;
}
/*слайдер с фото фундаментов*/
.slider-box{
  width:760px;
  height:460px;
  overflow:hidden;
  margin-bottom: 20px;
}
.slider{
  position:relative;
  width:10000px;
  height:460px;
}
.slider img{
  float:left;
  width: 760px;
  height: 460px;
}
.slider-box .prev, .slider-box .next{
  position:relative;
  display:inline-block;
  width:29px;
  height:29px;
  cursor:pointer;
  top: -150px;
  border-radius: 29px;
}
.slider-box .prev{
	float: left;
	transform: scale(-1, 1);
}
.slider-box .next{
	float: right;
}
.slider-box .prev>img,
.slider-box .next>img{
	width: 29px;
	height: 29px;
}
/*Специфика работы*/
.specialy-work{
	background-color: #573FDB;
	height: auto;
	padding:20px 4.5% 30px 4.5%;
	flex-direction: column;
	box-sizing: border-box;
}
.specialy-work .head{
	font-family: head;
	font-size: 2em;
	color: #fff;
	margin-bottom: 20px;
}
.specialy-section{
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}
.specialy-item{
	flex-direction: row;
	align-items: flex-start;
	color: #fff;
	font-size: 1.4em;
}
.specialy-main-img{
	width: 200px;
	height: 200px;
	border-radius: 45px;
	cursor: pointer;
}
.specialy-item div{
	display: none;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
}
.specialy-close{
	width: 40px;
	height: 35px;
	margin-right: 25px;
	display: none;
	cursor: pointer;
}
/*футер сайта*/
.footer{
	box-sizing: border-box;
	padding:30px 10% 25px 10%;
	width: 100%;
	background-color: #6F81D6;
	color: #fff;
	text-align: center;
}
.footer p{
	margin-bottom: 10px;
}
.contacts_message{
	display: block;
}
/*меню для просмотра контактов и отправки сообщений*/
.contacts_message-menu{
	position: fixed;
	bottom: 1px;
	left: 1px;
	height: 120px;
	width: 65px;
	border: none;
	border-radius: 5px;
	background-color: #514ED9;
	justify-content: space-between;
	flex-direction: column;
	box-sizing: border-box;
	padding: 10px 0 10px 0;
	z-index: 20;
	opacity: 0.5;
}
.contacts_message-menu .item{
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.contacts_message-menu a>.item{
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.contacts{
	position: fixed;
	bottom: 1px;
	left: 70px;
	width: auto;
	height: auto;
	background-color: #514ED9;
	border-radius: 5px;
	color: #fff;
	padding: 8px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	display: none;
	font-size: 1em;
	z-index: 20;
}
.contacts>div>img{
	width: 30px;
	height: 30px;
	margin-right: 8px;
}
.contacts>div{
	margin-bottom: 10px;
}
.message{
	position: fixed;
	bottom: 1px;
	left: 70px;
	background-color: #514ED9;
	border-radius: 5px;
	width: 200px;
	height: 300px;
	flex-direction: column;
	align-items: flex-start;
	padding:8px;
	display: none;
	z-index: 20;
}
.close{
	position: relative;
	top: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	align-self: flex-end;
	cursor: pointer;
	margin-bottom: 5px;
}