.wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 95vh;
    max-height: 100vh;
}
.slider{
    width: 1170px;
    min-height: 600px;
}
.slider>div img{
    width: 100%;
    height: auto;
}
.slider2{
    width: 1024px;
    min-height: 600px;
}
.slider2>div img{
    width: 100%;
    height: auto;
}
