@media only screen and (max-width: 1200px){
	.wrapper{
		max-width: none;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
}
@media only screen and (max-width: 1080px){
	.navi{
		display: none;
	}
	.footer-main{
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.footer-main>div{
		width: 40%;
		margin:25px auto;
	}
}
@media only screen and (max-width: 980px){
	.footer-line{
		width: 80%;
		background-size: contain;
	}
}
@media only screen and (max-width: 960px){
	.calculator__body{
		flex-direction: column;
		padding-left: 15%;
	}
	.calculator__head{
		text-align: center;
	}
	.calc-section,
	.totals{
		width: auto;
	}
	.totals{
		margin-top: 15px;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.totals .head{
		order: 1;
		margin-bottom: 5px;
		margin-top: 20px;
	}
	.totals .circs{
		order: 3;
	}
}
@media only screen and (max-width: 900px){
	.instructors-adaptive-content{
		display: block;
	}
	.instructors-content{
		display: none;
	}
	.conteiner-adaptive__item .galery{
		justify-content: space-between;
		flex-direction: row;
		margin-bottom: 15px;
	}
	.galery__item{
		background-size: cover;
		background-repeat: no-repeat;
		width: 156px;
		height: 156px;
	}
	.galery__item-1{
		background-image: url(../img/instr-photo-1.png);	
	}
	.galery__item-2{
		background-image: url(../img/instr-photo-2.png);
	}
	.galery__item-3{
		background-image: url(../img/instr-photo-3.png);
	}
	.galery__item-4{
		background-image: url(../img/instr-photo-4.png);
	}
	.we-invite-content{
		padding:30px 20px 35px 20px;
	}
	.instr-photo-adaptiv{
		width: 100%;
	}
	.main-text-adaptiv{
		box-sizing: border-box;
		padding:45px 0 0 0;
	}
	.main-text-adaptiv span{
		font-family: myriad;
	}
	.main-text-adaptiv span.head{
		text-transform: uppercase;
		font-size: 2.125em;
		color: #000;
		font-weight: bold;
		margin-bottom: 15px;
		display: block;
	}
	.main-text-adaptiv .main{
		font-size: 1.875em;
		font-weight: 200;
		margin-top: 30px;
	}
	.networks-adaptiv{
		justify-content: flex-start;
	}
	.networks-adaptiv div{
		height: 76px;
		width: 76px;
		font-size: 30px;
	}
	.main-text-adaptiv span.age{
		font-size: 1.875em;
	}
	.pull{
		height: 30px;
	}
	.bx-pagination-conteiner li{
		height: 50px;
		width: 50px;
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 860px){
	.head-baner{
		padding-top: 170px;
	}
	header .header{
		display: none;
	}
	header .header-adaptiv{
		display: block;
		width: 100%;
	}
	#close-burger-adaptiv{
		display:none ;
	}
	#burger-adaptiv{
		display:block;
	}
	.header-adaptiv__main{
		justify-content: space-between;
		padding: 12px 20px;
		width: 100%;
		position: relative;
		box-sizing: border-box;
	}
	.drop-menu{
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		padding:30px 30px 0 30px;
		top: 65px;
		left: 0px;
		display: none;
	}
	.drop-menu li{
		list-style: none;
	}
	.drop-menu a{
		justify-content: space-between;
		width: 100%;
		text-transform: uppercase;
		color: #fff;
		border-bottom: 1px solid rgba(255,255,255,.2);
		font-size: 24px;
		box-sizing: border-box;
		padding:22px 0;
	}
	.header-adaptiv__main__start{
		justify-content: flex-start;
	}
	.header-adaptiv__main__start .logo{
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		left: 75px;
	}
	.header-adaptiv__main__start button,
	.header-adaptiv__main button,
	#close-burger-adaptiv{
		height: 30px;
		width: 40px;
		font-size: 30px;
		color: #FFF;
		background-color: rgba(0,0,0,0);
		border: none;
		margin-right: 25px;
		font-weight: 200;
		text-align: center;
	}
	.header-adaptiv__main>button{
		font-size:  40px;
		height: 40px;
		text-decoration: none;
	}
	.header-adaptiv__main>button a{
		color: #fff;
		text-decoration: none;
	}
	.footer-wrapper{
		padding-top: 0;
	}
	.footer-main{
		display: none;
	}
	.footer-adaptiv{
		width: 100%;
		display: block;
		padding:20px 20px 20px 40px;
		box-sizing: border-box;
	}
	.footer-adaptiv ul{
		padding-bottom: 40px;
	}
	.footer-adaptiv li a{
		font-size: 16px;
		justify-content: space-between;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		border-bottom: 1px solid rgba(255,255,255,.2);
		padding:18px 0 20px 0;
	}
}
@media only screen and (max-width: 750px){
	.calculator__body{
		padding-left: 5px;
	}
	.calc-section{
		margin-right: 0;
	}
}
@media only screen and (max-width: 680px){
	.galery__item-1,
	.galery__item-2,
	.galery__item-4,
	.galery__item-3{
		width: 80px;
		height: 80px;
	}
	.we-invite-content{
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.we-invite-content span{
		margin-right: 0;
		font-size: 24px;
		width: 80%;
	}
	.we-invite-content button {
    font-size: 22px;
    width: 220px;
    height: 60px;
    margin-top: 25px;
	}
}
@media only screen and (max-width: 600px){
	.header-adaptiv__main{
		padding: 12px 5px;
	}
	.instructors-adaptive-content{
		margin-top: 25px;
	}
	.main-text-adaptiv span.head{
		font-size: 1.6em;
	}
	.main-text-adaptiv span.age{
		font-size: 1.4em;	
	}
	.main-text-adaptiv .main{
		font-size: 1.2em;
	}
	.networks-adaptiv div{
		height: 50px;
		width: 50px;
	}
	.calc-format__label{
		display: block;
		width: 160px;
		box-sizing: border-box;
		margin-bottom: 10px;
	}
	.calculator{
		padding: 10px 5px;
	}
}
@media only screen and (max-width: 450px){
	
}
@media only screen and (max-width: 390px){
	.header-adaptiv__main button{
		margin-right: 0;
	}
	.footer-social-item .item-1,
	.footer-social-item .item-2,
	.footer-social-item .item-3{
		height: 60px;
		width: 60px;
	}
	.footer-adaptiv{
		padding-right: 0;
		padding-left: 0;
	}
}
@media only screen and (max-width: 360px){
	.calc-box__label{
		display: block;
		width: 140px;
		margin-bottom: 10px;
		box-sizing: border-box;
	}
	.med{
		margin-right: 0;
		width: 100%;
	}
}
@media only screen and (max-width: 350px){
	.galery__item{
		height: 70px;
		width: 70px;
	}
}
