@font-face{
	font-family: myriad;
	src:url(../fonts/MyriadPro-Regular.otf);
}
@font-face{
	font-family: myriad-light;
	src:url(../fonts/MyriadPro-Light.otf);
	font-weight: 200;
}
@font-face{
	font-family: lato;
	src:url(../fonts/lato.ttf);
}
@font-face{
	font-family: latoitalic;
	src:url(../fonts/Lato-italic.ttf);
}
body{
	font-size: 16px;
	font-family: myriad;
}
button{
	outline: none;
	cursor: pointer;
}
p{
	font-family: myriad;
	font-size: 1em;
	line-height: 1.5em;
}
a{
	text-decoration: none;
	outline: none;
}
.flex-block{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.wrapper{
	max-width: 1180px;
	margin:0 auto;
}
/*HEADER start*/
header{
	position: absolute;
	width: 100%;
	margin:0 auto;
}
.header-adaptiv{
	display: none;
}
.header-adaptiv__main__start .logo p:first-child{
	font-size: .93em;
}
.header-adaptiv__main__start .logo p:last-child{
	font-size: 1.6em;
}
.head-content{
	background-image: url(../img/main-header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding-bottom: 225px;
	padding-top: 232px;
	color: #f8f8f8;
	transition: .6s;
}
.head-content-top img{
	height: 14px;
	margin-right: 10px;
}
.head-content-top,
.head-content-top a{
	justify-content: space-between;
	box-sizing: border-box;
	padding: 19px 0;
	font-size: 1em;
	color: #f8f8f8;
	font-family: myriad;
	text-decoration: none;
}
.line{
	height: 1.2px;
	width: 78.8%;
	background: radial-gradient(rgba(248,248,248,.9), rgba(248,248,248,0));
	margin: 0 auto 25px auto ;
}
.contacts,
.info{
	justify-content: flex-start;
}
.email,
.payment,
.phone span:not(:last-child){
	margin-right: 40px;
}
.payment,
.branches{
	cursor: pointer;
}
.menu{
	align-items: flex-start;
	justify-content: space-between;
}
.menu .logo{
	flex-direction: column;
	align-items: flex-end;
}
.logo p{
	text-transform: uppercase;
	font-size: .93em;
	font-family: myriad;
	color: #f8f8f8;
}
.logo p:last-child{
	font-size: 1.875em;
	color: #e8d34b;
	font-weight: bold;
}
.navi{
	list-style: none;
	text-transform: none;
	text-transform: uppercase;
	justify-content: flex-end;
	font-size: 0.93em;
	font-family: lato;
	margin-bottom: 110px;
}
.navi a{
	text-decoration: none;
	color: #f8f8f8;
	transition: .3s;
}
.navi li:not(:last-child){
	margin-right: 30px;
}
.navi li{
	padding:3px;
	position: relative;
	transition: .3s;
}
.navi a:hover{
	color: #e8d34b;
}
.navi a:before{
	content:"";
	width: 14px;
	height: 2px;
	background: radial-gradient(rgba(222,200,57,1),rgba(222,200,57,0));
	display: block;
	color: #fff;
	position: relative;
	margin-bottom: 2px;
	opacity: 0;
	transition: .3s;
}
.navi a:after{
	content:"";
	width: 14px;
	height: 2px;
	background: radial-gradient(rgba(222,200,57,1),rgba(222,200,57,0));
	display: block;
	color: #fff;
	position: relative;
	left:100%;
	transform: translateX(-100%);
	margin-top: 2px;
	opacity: 0;
	transition: .3s;
}
.navi a:hover:after,
.navi a:hover:before{
	opacity: 1;
}
.button-block{
	position: absolute;
	height: 30px;
	width: 100px;
	color: #fff;
	font-size: 36px;
	top: 400px;
}
.button-block .next,
.button-block .prev{
	background-repeat: no-repeat;
	background-size: contain;
	height: 13px;
	width: 26px;
	top: 10px;
}
.button-block .next{
	right: 25px;
	background-image: url(../img/head-but-next.png);
}
.button-block .prev{
	left: 25px;
	background-image: url(../img/head-but-prev.png);
}

/*head-baner start*/
.head-baner{
	background-image: url(../img/head-baner-adventages-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding:270px 0 145px 0;
}
.head-baner__content{
	flex-direction: column;
}
.head-baner__content span{
	text-transform: uppercase;
	color: #fff;
	font-family: myriad;
}
.head-baner__content span.head{
	font-size: 2.25em;
	font-weight: bold;
	line-height: 66px;
}
.head-baner__content span.posthead{
	font-size: .75em;
	font-weight: 200;
}
/*head-baner end*/
/*main-content start*/
.main-content{
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
	padding: 85px 0 80px 0;
}
.main-content .aside{
	width: 33%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.main-content .aside>.head,
.main-content .aside>.tabs-head{
	font-size: .94em;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: bold;
}
.main-content .aside>.head:before,
.main-content .aside>.tabs-head:before{
	content: "";
	height: 16px;
	width: 5px;
	position: relative;
	right: 15px;
	background-color: #dec839;
	display: inline-block;
}
.main-content .aside>.main{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 50px;
	font-weight: 400;
	width: 80%;
}
.main-content .aside li{
	list-style: none;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 25px;
	cursor: pointer;
}
.main-content__section{
	width: 65.7%;
}
.free-retake__img,
.section__img{
	background-image: url(../img/free-retake-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 470px;
	width: 100%;
	margin-bottom: 45px;
}
.main-content__section h2{
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 16px;
}
.main-content__section h3{
	font-size: .875em;
	margin-bottom: 35px;
	font-weight: 400;
}
.whith-indent{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 25px;
	margin-top: 25px;
	margin-left: 45px;
	height: auto;
	justify-content: flex-start;
}
.vertical-line{
	height: 100px;
	width: 6px;
	background-color: #dec839;
	margin-right: 20px;
}
.main-content__section .social{
	margin-top: 45px;
	justify-content: flex-start;
	align-items: flex-end;
}
.social span{
	font-size: .93em;
	font-weight: bold;
}
.facebook,
.vk{
	height: 16px;
	width: 16px;
	margin-left: 20px;
}
.facebook a,
.vk a{
	font-size: 1em;
	color: #acacac;
	text-decoration: none;
	transition: .3s;
}
.facebook a:hover,
.vk a:hover{
	color: #dec839;
}
.call-manager__img{
	background-image: url(../img/call-manage.png);
}
.whith-indent ul{
	list-style: none;
}
.online-study__img{
	background-image: url(../img/online-study.png);
}
.online-pay__img{
	background-image: url(../img/online-pay.png);
}
.test-drive__img{
	background-image: url(../img/test-drive.png);
}
.fast-lesson__img{
	background-image: url(../img/fast-lesson.png);
}

/*main-content end*/
/*we-invite start*/
.we-invite{
	width: 100%;
	background-color: #dec839;
}
.we-invite-content{
	justify-content: flex-start;
	color: #fff;
	text-transform: uppercase;
	font-family: myriad;
	padding: 34px 0;
}
.we-invite-content span{
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 37.3%;
}
.we-invite-content button{
	border: 1px solid #fff;
	font-size: .93em;
	padding: 10px 18px;
	color: #fff;
	text-transform: uppercase;
	background-color: #dec839;
}
/*we-invite end*/
/*footer start*/
footer{
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.footer-wrapper{
	flex-direction: column;
	width: 100%;
	padding: 80px 0 25px 0;
	box-sizing: border-box;
	justify-content: flex-start;
}
.footer-main{
	margin-bottom: 45px;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}
.footer-adaptiv{
	display: none;
}
.footer-main-about,
.footer-main-contacts,
.footer-main-blog,
.footer-main-galery{
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 275px;
}
.footer-main-about .head,
.footer-main-contacts .head,
.footer-main-blog .head,
.footer-main-galery .head{
	text-transform: uppercase;
	font-family: myriad;
	font-size: 1.125em;
	color: #fff;
	margin-bottom: 15px;
}
.footer-main-about p{
	width: 100%;
	font-size: 1em;
	line-height: 1.5em;
	color: #fff;
	margin-bottom: 20px;
}
.footer-social{
	justify-content: flex-start;
	align-items: flex-start;
}
.footer-social-item{
	margin-right: 8px;
}
.footer-social-item .item-1{
	background-image: url(../img/footer-fasebook.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 42px;
	width: 42px;
}
.footer-social-item .item-1:hover{
	background-image: url(../img/footer-facebook-active.png);
}
.footer-social-item .item-2{
	background-image: url(../img/footer-vk.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 42px;
	width: 42px;
}
.footer-social-item .item-2:hover{
	background-image: url(../img/footer-vk-active.png);
}
.footer-social-item .item-3{
	background-image: url(../img/footer-inst.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 42px;
	width: 42px;
}
.footer-social-item .item-3:hover{
	background-image: url(../img/footer-inst-active.png);
}
.footer-main-contacts span{
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
	font-family: myriad;
	color: #fff;
}
.footer-main-contacts span.head{
	line-height: 1em;
	margin-bottom: 15px;
}
.footer-main-contacts span.up{
	text-transform: uppercase;
	font-size: .93em;
	line-height: 2em;
	margin-top: 5px;
}
.blog-item{
	margin-bottom: 8px;
}
.blog-item img{
	height: 80px;
	width: 80px;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-size: cover;
}
.blog-item .text span{
	color: #fff;
	font-size: 1em;
	line-height: 1.5em;
}
.blog-item .text span:first-child{
	text-transform: uppercase;
	font-size: .93em;
	line-height: 2.5em;
	font-weight: bold;
}
.galery-block{
	flex-wrap: wrap;
}
.galery-item{
	width: 82px;
	height: 82px;
	margin-bottom: 8px;
	margin-right: 8px;
}
.galery-item.item-1{
	background-image: url(../img/galery-item-1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-2{
	background-image: url(../img/galery-item-2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-3{
	background-image: url(../img/galery-item-3.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-4{
	background-image: url(../img/galery-item-4.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-5{
	background-image: url(../img/galery-item-5.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-6{
	background-image: url(../img/galery-item-6.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-7{
	background-image: url(../img/galery-item-7.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-8{
	background-image: url(../img/galery-item-8.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-9{
	background-image: url(../img/galery-item-9.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-line{
	background-image: url(../img/footer-line.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 1030px;
	margin-bottom: 25px;
}
.copiright{
	color: #fff;
	font-size: 1em;
	font-family: myriad;
}
/*footer end*/