@font-face{
	font-family: myriad;
	src:url(../fonts/MyriadPro-Regular.otf);
}
@font-face{
	font-family: myriad-light;
	src:url(../fonts/MyriadPro-Light.otf);
	font-weight: 200;
}
@font-face{
	font-family: lato;
	src:url(../fonts/lato.ttf);
}
@font-face{
	font-family: latoitalic;
	src:url(../fonts/Lato-italic.ttf);
}
body{
	font-size: 16px;
}
button{
	outline: none;
	cursor: pointer;
}
p{
	font-family: myriad;
	font-size: 1em;
}
a{
	text-decoration: none;
	outline: none;
}
.flex-block{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.wrapper{
	max-width: 1180px;
	margin:0 auto;
}
.online-pay-form,
.online-note-form{
	width: 100%;
	height: 100vh;
	background-color: rgba(5,5,5,.5);
	position: fixed;
	box-sizing: border-box;
	z-index: 1000;
	display: none;
}
.pay-form{
	position: fixed;
	z-index: 1001;
	border-radius: 3px;
}
.pay-form .head{
	background-color: #dec839;
	width: 100%;
	height: 37px;
	justify-content: space-between;
	box-sizing: border-box;
	padding:0 19px 0 30px;
}
.pay-form .head>.close,
.online-note-close{
	cursor: pointer;
	height: 12px;
	width: 12px;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.pay-form .head span{
	text-transform: uppercase;
	color: #fff;
}
.pay-form form{
	flex-direction: column;
	box-sizing: border-box;
	padding:22px 20px;
	background-color: #fff;
}
.pay-form input,
.online-note-form select{
	margin-bottom: 10px;
	width: 230px;
	height: 28px;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: 3% 50%;
	box-sizing: border-box;
	padding: 3px 3px 3px 25px;
	color: #000;
}
.online-pay__name{
	background-image: url(../img/form-name-img.png);
}
.online-pay__email{
	background-image: url(../img/form-email-img.png);
}
.online-pay__phone{
	background-image: url(../img/form-online-phone.png);
}
.online-pay__sum{
	background-image: url(../img/form-sum-img.png);
}
.online-pay__coment{
	background-image: url(../img/form-coment.png);
}
.form-name{
	background: url(../img/form-name-img.png) no-repeat 3% 50%;
}
.form-email{
	background: url(../img/form-email-img.png) no-repeat 3% 50%;
}
.form-phone{
	background: url(../img/form-phone-img.png) no-repeat 3% 50%;
}
.form-time{
	background: url(../img/form-time-img.png) no-repeat 7% 50%;
}
.form-date{
	background: url(../img/form-date-img.png) no-repeat 7% 50%;
}
.form-course{
	background: url(../img/form-course-img.png);
background-repeat: no-repeat;
background-position: 7% 50%;
}
.form-category{
	background: url(../img/form-category-img.png) no-repeat 7% 50%;
}
.online-note-form select,
.online-note-form input.form-date{
	width: 110px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 3px 3px 3px 25px;
	color: #aaa;
	border-radius: 3px;
	border: 1px solid #aaa;
	height: 28px;
	background-color: #fff;
}
.online-note-form form>div{
	justify-content: space-between;
	width: 100%;
}
.pay-form button{
	height: 33px;
	width: 230px;
	border:none;
	border-radius: 3px;
	background-color: #dec839;
	color: #fff;
	text-transform: uppercase;
	font-size: .93em;
}
#ui-datepicker-div{
	background-color: rgba(5,5,5,.7);
}
.ui-datepicker .ui-datepicker-header,
.ui-datepicker table,
.ui-datepicker table a{
	color: #fff;
}
/*calculator start*/
.calculator-wrap{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(5,5,5,.5);
	z-index: 10000;
	display: none;
}
.calculator{
	z-index: 10001;
	background-color: #fff;
	max-width: 960px;
	width: 100%;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 32px 65px 37px 30px;
	position: relative;
}
.calculator__head{
	text-transform: uppercase;
	color: #000;
	font-family: myriad;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
}
.calculator__body{
	width: 100%;
	height: auto;
	justify-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.calc-section{
	box-sizing: border-box;
	width: 61%;
	margin-right: 60px;
}
.calc-section span{
	display: block;
}
.calc-section__head{
	margin-bottom: 18px;
	font-family: myriad;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 1.125em;
}
.calc-section .calc-section__head:not(:first-child){
	margin-top: 30px;
}
.calc-section input:not(checked) + label{
	color: #aaa;
	border: 1px solid #aaa;
}
.calc-section input:checked + label{
	color: #fff;
	border: 1px solid #dec839;
	background-color: #dec839
}
.calc-choose{
	padding: 9px 10px;
	border:1px solid #aaaaaa;
	color: #aaaaaa;
	margin-right: 20px;
	text-transform: uppercase;
	font-size: .93em;
	transition: .3s;
}
.calc-choose.fix{
	padding: 9px 30px;
	margin-right: 15px;
}
.calc-section input{
	position: absolute;
	left: -99999px;
}
.med{
	font-size: 1em;
	font-family: myriad;
	width: 75%;
}
.totals{
	box-sizing: border-box;
	width: 42%;
}
.totals .head{
	text-transform: uppercase;
	color: #000;
	font-size: 1.5em;
	font-family: myriad;
	font-weight: bold;
	margin-bottom: 20px;
}
.totals-price{
	display: block;
	font-size: 1.875em;
	font-family: myriad;
	color: #dec839;
	margin-bottom: 25px;
}
.circs{
	list-style: none;
	width: 100%;

}
.circs li{
	font-size: 1em;
	font-family: myriad;
	margin-bottom: 10px;
}
.circs li:before{
	content: "";
	display: inline-block;
	width: 14px;
	height: 10px;
	margin-right: 8px;
	background-image: url(../img/bird.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.calc-but{
	font-size: .93em;
	font-family: myriad;
	color: #fff;
	background-color: #dec839;
	padding: 12px 30px;
	border:none;
	border-radius: 1px;
	text-transform: uppercase;
	margin-top: 20px;
}
.calculator__footer{
	font-size: 1em;
	font-family: myriad;
	margin-top: 15px;
	display: block;
}
#calc-close{
	width: 20px;
	height: 20px;
	background-image: url(../img/cross.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: absolute;
	right: 30px;
	top: 30px;
}
/*бегунок*/
.range-wrap	{
	margin-top: 20px;
	max-width: 750px;
}
.irs-from,
.irs-to,
.irs-single{
	background: #aaa;
}
/*бегунок*/
/*calculator end*/
/*HEADER start*/
header{
	position: absolute;
	width: 100%;
	margin:0 auto;
}
.header-adaptiv{
	display: none;
}
.header-adaptiv__main__start .logo a{
	text-decoration: none;
}
.header-adaptiv__main__start .logo p:first-child{
	font-size: .93em;
}
.header-adaptiv__main__start .logo p:last-child{
	font-size: 1.6em;
}
.head-content{
	background-image: url(../img/main-header-bg.png);
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: cover;
	box-sizing: border-box;
	padding-bottom: 225px;
	padding-top: 232px;
	color: #f8f8f8;
	transition: .6s;
}
.head-content-top img{
	height: 14px;
	margin-right: 10px;
}
.head-content-top,
.head-content-top a{
	justify-content: space-between;
	box-sizing: border-box;
	padding: 19px 0;
	font-size: 1em;
	color: #f8f8f8;
	font-family: myriad;
	text-decoration: none;
}
.line{
	height: 1.2px;
	width: 78.8%;
	background: radial-gradient(rgba(248,248,248,.9), rgba(248,248,248,0));
	margin: 0 auto 25px auto ;
}
.contacts,
.info{
	justify-content: flex-start;
}
.email,
.payment,
.phone span:not(:last-child){
	margin-right: 40px;
}
.payment,
.branches{
	cursor: pointer;
}
.menu{
	align-items: flex-start;
	justify-content: space-between;
}
.menu .logo{
	flex-direction: column;
	align-items: flex-end;
}
.logo p{
	text-transform: uppercase;
	font-size: .93em;
	font-family: myriad;
	color: #f8f8f8;
}
.logo p:last-child{
	font-size: 1.875em;
	color: #e8d34b;
	font-weight: bold;
}
.navi{
	list-style: none;
	text-transform: none;
	text-transform: uppercase;
	justify-content: flex-end;
	font-size: 0.93em;
	font-family: lato;
	margin-bottom: 110px;
}
.navi a{
	text-decoration: none;
	color: #f8f8f8;
	transition: .3s;
}
.navi li:not(:last-child){
	margin-right: 30px;
}
.navi li{
	padding:3px;
	position: relative;
	transition: .3s;
}
.navi a:hover{
	color: #e8d34b;
}
.navi a:before{
	content:"";
	width: 14px;
	height: 2px;
	background: radial-gradient(rgba(222,200,57,1),rgba(222,200,57,0));
	display: block;
	color: #fff;
	position: relative;
	margin-bottom: 2px;
	opacity: 0;
	transition: .3s;
}
.navi a:after{
	content:"";
	width: 14px;
	height: 2px;
	background: radial-gradient(rgba(222,200,57,1),rgba(222,200,57,0));
	display: block;
	color: #fff;
	position: relative;
	left:100%;
	transform: translateX(-100%);
	margin-top: 2px;
	opacity: 0;
	transition: .3s;
}
.navi a:hover:after,
.navi a:hover:before{
	opacity: 1;
}
.button-block{
	position: absolute;
	height: 30px;
	width: 100px;
	color: #fff;
	font-size: 36px;
	top: 400px;
}
.button-block .next,
.button-block .prev{
	background-repeat: no-repeat;
	background-size: contain;
	height: 13px;
	width: 26px;
	top: 10px;
}
.button-block .next{
	right: 25px;
	background-image: url(../img/head-but-next.png);
}
.button-block .prev{
	left: 25px;
	background-image: url(../img/head-but-prev.png);
}
.head-content-main{
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
}
.head-content-main .aside{
	width: 275px;
}
.head-content-main .aside img{
	margin:0;
	height: 18px;
}
.head-content-main .aside .head{
	justify-content: space-between;
	padding: 14px 24px;
	background-color: #f8f8f8;
	box-sizing: border-box;
	color: #555555;
	font-size: 0.93em;
	text-transform: uppercase;
}
.get-course-form{
	padding: 13px 22px;
	background-color: rgba(113,113,113,.5);
	box-sizing: border-box;
}
.get-course-form input,
.get-course-form select{
	background-repeat: no-repeat;
	border:none;
	margin-bottom: 10px;
	height: 27px;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	padding: 4px 4px 4px 25px;
	font-family: myriad;
	color: #999999;
	font-size: 1em;
	outline: none;
}
.form-name{
	background: url(../img/form-name-img.png) no-repeat 3% 50%,rgba(51,51,51,.5);
}
.form-email{
	background: url(../img/form-email-img.png) no-repeat 3% 50%,rgba(51,51,51,.5);
}
.form-phone{
	background: url(../img/form-phone-img.png) no-repeat 3% 50%,rgba(51,51,51,.5);
}
.form-time{
	background: url(../img/form-time-img.png) no-repeat 7% 50%,rgba(51,51,51,.5);
}
.form-date{
	background: url(../img/form-date-img.png) no-repeat 7% 50%,rgba(51,51,51,.5);
}
.form-course{
	background: url(../img/form-course-img.png) no-repeat 7% 50%,rgba(51,51,51,.5);
}
.form-category{
	background: url(../img/form-category-img.png) no-repeat 7% 50%,rgba(51,51,51,.5);
}
#ui-datepicker-div{
	background-color: rgba(5,5,5,.5);
}
.ui-datepicker .ui-datepicker-header,
.ui-datepicker table,
.ui-datepicker table a{
	color: #fff;
}
.get-course-form. .form-time,
.get-course-form .form-course{
	display: inline-block;
	margin-right: 7px;
}
.get-course-form .form-time,
.get-course-form .form-course,
.get-course-form .form-category,
.get-course-form .form-date{
	width: 49%;
}
.get-course-form button{
	border: none;
	padding-top: 10px;
	text-transform: uppercase;
	width: 100%;
	color: #000000;
	background-color: #dec839;
	padding:10px 0;
	text-align: center;
	font-family: myriad;
	font-size: .93em;
	border-radius: 5px;
}
.head-content-main .content{
	text-align: right;
	color: #f8f8f8;
	font-family: myriad;
}
.head-content-main .content .head{
	font-size: 1.5em;
	text-transform: uppercase;
}
.head-content-main .content .posthead{
	font-size: 3.44em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 22px;
}
.head-content-main .content .posthead span{
	color: #e8d34b;
}
.head-content-main .content .main{
	font-size: 1em;
	font-weight: 200;
}
.head-content-main .content button{
	background-color: #dec839;
	color: #000;
	text-transform: uppercase;
	border:1px solid #dec839;
	font-size: .93em;
	font-family: myriad;
	padding:10px 30px;
	margin-top: 45px;
	transition: .3s;
	margin-left: 10px;
	display: inline-block;
}
.head-content-main .content div{
	width: auto;
	height: auto;
	display: inline-block;
}
.head-content-main .content div>div{
	background-color: #dec839;
	color: #000;
	text-transform: uppercase;
	border:1px solid #dec839;
	font-size: .93em;
	font-family: myriad;
	padding:10px 30px;
	margin-top: 45px;
	transition: .3s;
	margin-left: 10px;
	width: auto;
	height: auto;
}
.head-content-main .content div a{
	text-decoration: none;
	color: #000;
}
.head-content-main .content button:hover,
.head-content-main .content div:hover div{
	background-color: rgba(0,0,0,0);
	color: #f8f8f8;
	border: 1px solid #f8f8f8;
}
.head-content-main .content div:hover a{
	color: #f8f8f8;
}
/*HEADER end*/
/*our-adventages start*/
.our-adventages{
	padding-bottom: 80px;
	padding-top: 80px;
	background-color: #f1f1f1;
}
.our-adventages p,
.our-programs p,
h1,
h2{
	text-align: center;
	font-family: myriad:;
	color: #222222;
}
.our-adventages .head,
.our-programs .head,
h1{
	font-size:1.5em ;
	font-weight: 500;
	font-weight: bold;
	margin-bottom:30px;
	margin-top: 0;
	text-transform: uppercase;
}
.our-adventages .question,
.our-programs .question,
h2{
	margin-bottom: 20px;
	font-size: 1.125em;
	font-family: latoitalic;
	font-style: italic;
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 0;
}
.our-adventages .posthead,
.galery .posthead,
.instructors .posthead,
.prices .posthead,
.popular-questions-content .posthead{
	text-align: center;
	margin-bottom: 50px;
}
.our-adventages .posthead img,
.our-programs .posthead img,
.galery .posthead img,
.instructors .posthead img,
.prices .posthead img,
.popular-questions-content .posthead img{
	margin:0 10px;
}
.our-adventages .posthead .line,
.our-programs .posthead .line,
.galery .posthead .line,
.instructors .posthead .line,
.prices .posthead .line,
.popular-questions-content .posthead .line{
	height: 1px;
	width: 100px;
	background-color: #000;
	margin:0;
}
.our-adventages__content{
	width: 100%;
	position: relative;
	height: 370px;
	flex-direction: column;
	justify-content: space-between;
}
.content__octagon{
	background-image: url(../img/octagon-bg.png);
	background-repeat: no-repeat;
	width: 370px;
	height: 370px;
	background-size: cover;
	left: 50%;
	top: 1px;
	position: absolute;
	transform: translateX(-50%);
	z-index: 100;
}
.content-row{
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
}
.content-row div:first-child p{
	text-align: right;
}
.content-row div:last-child p{
	text-align: left;
}
.content-row>div:first-child{
	padding-right: 190px;
}
.row-2>div:first-child{
	padding-right: 235px;
}
.content-row>div:last-child{
	padding-left: 190px;
}
.row-2>div:last-child{
	padding-left: 235px;
}
.content-row .row-1-item:first-child img,
.content-row .row-2-item:first-child img,
.content-row .row-3-item:first-child img{
	padding-left: 30px;
}
.content-row .row-1-item:last-child img,
.content-row .row-2-item:last-child img,
.content-row .row-3-item:last-child img{
	padding-right: 30px;
}
.row-1-item,
.row-2-item,
.row-3-item{
	max-width: 466px;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;
	cursor: pointer;
}
.row-1-item a,
.row-2-item a,
.row-3-item a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.row-1-item:hover,
.row-2-item:hover,
.row-3-item:hover{
	background-color: #fff;
}
.row-1-item .text p:first-child,
.row-2-item .text p:first-child,
.row-3-item .text p:first-child{
	font-size: 1.125em;
	margin-bottom: 7px;
	font-weight: bold;
}
/*our-adventages end*/
/*our-info start*/
.our-info{
	background-image: url(../img/our-info-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding:90px 0 80px 0;

}
.our-info-item{
	flex-direction: column;
	margin:0 70px;
	font-family: myriad;
}
.our-info-item img{
	height: 48px;
	margin-bottom: 28px;
}
.our-info-item .line{
	height: 3px;
	width: 50px;
	background: #222222;
	margin-bottom: 26px;
}
.our-info-item .quant{
	font-size: 2.25em;
	font-weight: bold;
	margin-bottom: 20px;
}
.our-info-item .text{
	text-transform: uppercase;
	font-size: .93em;
	font-weight: bold;
	text-align: center;
}
/*our-info end*/
/*our-programs start*/
.our-programs{
	flex-direction: column;
	background-color: #f1f1f1;
	padding-bottom: 85px;
	padding-top: 80px;
	width: 100%;
}
.our-programs .posthead{
	margin-bottom: 55px;
}
.our-programs .content{
	width: 100%;
	flex-wrap: wrap;
}
.programs-content-item{
	background-image: url(../img/octagon.png);
	height: 270px;
	width: 270px;
	margin: 0 15px;
	transition: .3s;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}
.programs-content-item img{
	height: 35px;
}
.programs-content-item img.active-img{
	display: none;
	height: 35px;
}
.programs-content-item:hover .head, .programs-content-item:hover .text {
	color: #fff;
}
 .programs-content-item:hover .line{
 	background-color: #fff;
 }
.programs-content-item.cat-a:hover >img{
	display: none;
}
.programs-content-item.cat-a:hover >img.active-img{
	display: block;
}
.programs-content-item.cat-b:hover >img{
	display: none;
}
.programs-content-item.cat-b:hover img.active-img{
	display: block;
}
.programs-content-item.cat-teach:hover img{
	display: none;
}
.programs-content-item.cat-teach:hover img.active-img{
	display: block;
}
.programs-content-item.cat-instructor:hover img{
	display: none;
}
.programs-content-item.cat-instructor:hover img.active-img{
	display: block;
}
.programs-content-item .head{
	width: 80%;
	padding:12px 0 10px 0;
	margin-bottom: 0px;
}
.programs-content-item .line{
	width: 50px;
	height: 2px;
	margin-bottom: 12px;
	background: #dec839;
}
.programs-content-item .text{
	font-family: myriad;
	font-size: 1em;
	width: 80%;
}
.programs-content-item:hover{
	background-image: url(../img/octagon-orange.png);
	color: #fff;
}
/*our-programs end*/
/*video start*/
.out-stidy-video{
	width: 100%;
	height: 490px;
	position: relative;
	background-image: url(../img/video-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 90px;
}
.out-stidy-video-play a{
	flex-direction: column;
	text-decoration: none;
	font-size: 1.5em;
	font-family: myriad;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
.out-stidy-video-play img{
	margin-bottom: 25px;
}
/*video end*/
/*galery start*/
.galery{
	flex-direction: column;
	width: 100%;
	margin-bottom: 90px;
}
.galery-menu{
	margin-bottom: 50px;
	white-space: nowrap;
}
.galery-menu li{
	list-style: none;
	display: inline-block;
	margin:0 13px;
	color: #333;
	font-size: .93em;
	font-family: myriad;
	font-weight: 400;
	transition: .3s;
	cursor: pointer;
	text-transform: uppercase;
}
.galery-main{
	width: 100%;
}
.galery-main a{
	text-decoration: none;
}
.galery-content{
	width: 100%;
}
.galery-content-all{
	width: 100%;
	height: 400px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.galery-content-block{
	position: relative;
}
.galery-content-block>a{
	height: 400px;
	width: 23%;
}
.galery-content-item{
	height: 400px;
	width: 23%;
	flex-direction: column;
	justify-content: space-between;
	transition: .3s;
}
.galery-content-block a{
	height: 400px;
	transition: .3s;
}
.galery-content-block a:hover .all-3-content{
	display: flex;
} 
.galery-content-block div>a{
	height: 185px;
	transition: .3s;
}
.galery-content-block a>img,
.galery-content-block>a>div{
	width: 100%;
	transition: .3s;
}
.galery-content-item-part{
	height: 185px;
	width: 100%;
	transition: .3s;
}
.all-1-1{
	background-image: url(../img/galery/all-1-1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.all-1-2{
	background-image: url(../img/galery/all-1-2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.all-2{
	background-image: url(../img/galery/all-2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.all-3{
	background-image: url(../img/galery/all-3.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.all-4-1{
	background-image: url(../img/galery/all-4-1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.all-4-2{
	background-image: url(../img/galery/all-4-2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.all-3-content,
.all-2-content,
.all-4-1-content,
.all-4-2-content,
.all-1-2-content,
.all-1-1-content{
	width: 100%;
	height: 100%;
	background-color: rgba(206,187,67,.7);
	box-sizing: border-box;
	padding: 30px;
	display: none;
	transition: .3s;
}
.all-3-content-include{
	flex-direction: column;
	width: 100%;
	height: 100%;
	border:1px solid #fff;
	transition: .3s;
}
.all-3-content-include img{
	margin-bottom: 10px;
}
.all-3-content-include span{
	color: #fff;
	width: 60%;
	text-align: center;
}
.tab:before{
	content:"";
	width: 14px;
	height: 2px;
	background: radial-gradient(rgba(222,200,57,1),rgba(222,200,57,0));
	display: block;
	color: #fff;
	position: relative;
	margin-bottom: 2px;
	opacity: 0;
	transition: .3s;
}
.tab:after{
	content:"";
	width: 14px;
	height: 2px;
	background: radial-gradient(rgba(222,200,57,1),rgba(222,200,57,0));
	display: block;
	color: #fff;
	position: relative;
	left:100%;
	transform: translateX(-100%);
	margin-top: 2px;
	opacity: 0;
	transition: .3s;
}
.tab.active-tab:after,
.tab.active-tab:before{
	opacity: 1;
}
.tab.active-tab{
	color: #e8d34b;
}
.hide{
	display: none;
}
.show{
	display: flex;
}
/*galery end*/
/*quote start*/
.quote{
	width: 100%;
	height: 520px;
	background-image: url(../img/quote-bg.png);
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.quote-wrapper{
	flex-direction: row;
	width: 100%;
	height: 100%;
}
.quote-item{
	flex-direction: column;
}
.quote-item img{
	height: 125px;
}
.quote .prev{
	background-image: url(../img/arrow-prev.png);
	transition: .1s;
	background-size: cover;
	height: 30px;
	width: 16px;
}
.quote .next{
	background-image: url(../img/arrow-next.png);
	transition: .1s;
	background-size: cover;
	height: 30px;
	width: 16px;
	bottom: 20px;
}
.quote .prev:hover{
	background-image: url(../img/arrow-prev-active.png);
}
.quote .next:hover{
	background-image: url(../img/arrow-next-active.png);
}
.quote-line{
	width: 400px;
	height: 2px;
	background: radial-gradient(rgba(222,201,68,.9), rgba(222,201,68,0));
	left: 50%;
	top: 275px;
	transform:translate(-50%,-50%);
	position: absolute;
}
.quote-text{
	flex-direction: column;
	width: 100%;
	margin-top: 35px;
}
.quote-item>.quote-text{
	visibility: hidden;
}
.quote-item.swiper-slide-next .quote-text{
	visibility: visible;
}
.quote-item.swiper-slide-next img{
	height: 185px;
}
.quote-text span{
	text-transform: uppercase;
	font-size: .93em;
	font-weight: bold;
	font-family: myriad;
}
span.quote-text-main{
	width: 100%;
	text-align: center;
	font-family: myriad;
	font-style: italic;
	font-weight: 200;
	font-size: 1.125em;
	line-height: 1.5em;
	margin-bottom: 20px;
	text-transform: none;
}
span.quote-text-main::before{
	content: url(../img/mark-top.png);
	margin-right: 5px;
}
span.quote-text-main::after{
	content: url(../img/mark.png);
	margin-left: 5px;
}
.quote-text span:last-child{
	font-size: .8em;
	font-weight: 400;
	font-family: myriad;
	line-height: 1.5em;
	text-transform: none;
}
/*quote end*/
/*instructors start*/
.instructors{
	padding-top: 80px;
	padding-bottom: 90px;
}
.instructors-content{
	margin: 0 10px;
}
.instructors .conteiner{
	max-width: 980px;
	width: 100%;
	margin:0 auto;
}
.instructors-content .swiper-container{
	height: 440px;
}
.instructors-buttons{
	position: absolute;
	width: 80px;
	height: 40px;
	font-size: 40px;
}
.instructors-buttons span{
	position: absolute;
	right: 35px;
	bottom: 6px;
}
.instructors-buttons .swiper-button-prev{
	background-image: url(../img/instr-but-prev.png);
	background-size: contain;
	height: 20px;
	width: 20px;
	position: absolute;
	transition: .3s;
}
.instructors-buttons .swiper-button-prev:hover,
.button-block .prev:hover{
	background-image: url(../img/instr-but-prev-active.png);
}
.instructors-buttons .swiper-button-next{
	background-image: url(../img/instr-but-next.png);
	background-size: contain;
	height: 20px;
	width: 20px;
	position: absolute;
	transition: .3s;
}
.instructors-buttons .swiper-button-next:hover,
.button-block .next:hover{
	background-image: url(../img/instr-but-next-active.png);
}
.instructors-content-main{
	align-items: flex-end;
	justify-content: space-between;
}
.instructors-content-main .photo{
	width: 365px;
	height: 325px;
	background-image: url(../img/instructor-face.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.instructors-content-main .infor{
	flex-direction: column;
	align-items: flex-start;
	width: 565px;
}
.instructors-content-main .infor p{
	line-height: 1.5em;
}
.instructors-content-main .infor .head{
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: myriad;
	font-weight: bold;
	margin-bottom: 20px;
}
.networks{
	margin-top: 30px;
}
.network{
	font-size: 18px;
	height: 35px;
	width: 35px;
	color: #aaaaaa;
	border: 1px solid #aaaaaa;
	margin-right: 15px;
	text-decoration: none;
	transition: .2s;
}
.networks a{
	text-decoration: none;
}
.networks a:hover .network{
	background-color: #dec839;
	color: #fff;
	border: 1px solid #dec839;
}
.instructor-galery{
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.instructor-galery-item,
.instructor-galery p{
	height: 115px;
	width: 115px;
}
.conteiner-adaptive{
	display: none;
}
/*instructors end*/
/*prices start*/
.prices{
	padding:80px 0 85px 0;
	background-image: url(../img/prices-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.prices-content-main{
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}
.prices-content{
	flex-direction: column;
}
.prices-content h1{
	text-transform: uppercase;
	color: #fff;
}
.prices-content h2{
	color: #fff;
}
.prices-content .posthead .line{
	background-color: #fff;
}
.prices-content-item{
	width: 270px;
	flex-direction: column;
	justify-content: flex-start;
	transition: .3s;
}
.prices-content-item .head,
.prices-content-item .more{
	width: 100%;
	box-sizing: border-box;
	padding:15px 0;
	background-color: #3e3e3e;
	color: #fff;
	text-transform: uppercase;
	font-family: lato;
	font-size: 1.125em;
	transition: .3s;
}
.conditions{
	width: 100%;
	height: 410px;
	background-color: rgba(132,132,132,.9);
	box-sizing: border-box;
	padding:50px 0 20px 0;
	justify-content: flex-start;
	flex-direction: column;
	transition: .3s;
}
.value-octagon{
	background-image: url(../img/oct.png);
	width: 96px;
	height: 96px;
	background-size: cover;
	color: #fff;
	font-size: 1em;
	margin-bottom: 35px;
	transition: .3s;
}
.value-octagon i{
	font-size: .8em;
}
.conditions span{
	font-family: myriad;
	font-size: 1em;
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.prices-content-item .more a{
	text-decoration: none;
	color: #fff;
	font-family: myriad;
	font-weight: bold;
	font-size: .93em;
	transition: .3s;
}
.prices-content-item:hover .price-head,
.prices-content-item:hover .price-more{
	background-color: #dec839;
	color: #000;
}
.prices-content-item:hover .conditions{
	background-color: rgba(90,90,90,.7);
}
.prices-content-item:hover .value-octagon{
	background-image: url(../img/value-octagon-active.png);
	color: #dec839;
}
/*prices end*/
/*popular-questions start*/
.popular-questions{
	padding:85px 0;
	overflow: hidden;
}
.popular-questions-main{
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	width: 43.8%;
	max-width: 570px;
}
.popular-questions-accordion{
	height: auto;
}
.popular-questions-accordion>span>div{
	margin-bottom: 15px;
	font-weight: bold;
	padding: 8px 0;
}
.popular-questions-content span span{
	width: 86%;
}
.accordion-button{
	background-image: url(../img/accordion-button.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-right: 25px;
}
.accordion-content{
	width: 100%;
	padding:5px 5.2% 5px 12%;
	border: 1px solid #dec839;
	box-sizing: border-box;
	display: none;
	position: relative;
	margin-top: -20px;
	line-height: 1.5em;
}
.wrap img{
	position: absolute;
	height: 260px;
	left: -100px;
	z-index: 100;
}
span.active .accordion-button{
	background-image: url(../img/accordion-button-active.png);
}
span.active>div{
	background-color: #dec839;
	color: #fff;
}
.wrap{
	position: relative;
	align-self: flex-start;
}
/*popular-questions end*/
/*we-invite start*/
.we-invite{
	width: 100%;
	background-color: #dec839;
}
.we-invite-content{
	justify-content: flex-start;
	color: #fff;
	text-transform: uppercase;
	font-family: myriad;
	padding: 34px 0;
}
.we-invite-content span{
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 37.3%;
}
.we-invite-content button{
	border: 1px solid #fff;
	font-size: .93em;
	padding: 10px 18px;
	color: #fff;
	text-transform: uppercase;
	background-color: #dec839;
}
/*we-invite end*/
/*footer start*/
footer{
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.footer-wrapper{
	flex-direction: column;
	width: 100%;
	padding: 80px 0 25px 0;
	box-sizing: border-box;
	justify-content: flex-start;
}
.footer-main{
	margin-bottom: 45px;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}
.footer-adaptiv{
	display: none;
}
.footer-main-about,
.footer-main-contacts,
.footer-main-blog,
.footer-main-galery{
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 275px;
}
.footer-main-about .head,
.footer-main-contacts .head,
.footer-main-blog .head,
.footer-main-galery .head{
	text-transform: uppercase;
	font-family: myriad;
	font-size: 1.125em;
	color: #fff;
	margin-bottom: 15px;
}
.footer-main-about p{
	width: 100%;
	font-size: 1em;
	line-height: 1.5em;
	color: #fff;
	margin-bottom: 20px;
}
.footer-social{
	justify-content: flex-start;
	align-items: flex-start;
}
.footer-social-item{
	margin-right: 8px;
}
.footer-social-item .item-1{
	background-image: url(../img/footer-fasebook.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 42px;
	width: 42px;
}
.footer-social-item .item-1:hover{
	background-image: url(../img/footer-facebook-active.png);
}
.footer-social-item .item-2{
	background-image: url(../img/footer-vk.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 42px;
	width: 42px;
}
.footer-social-item .item-2:hover{
	background-image: url(../img/footer-vk-active.png);
}
.footer-social-item .item-3{
	background-image: url(../img/footer-inst.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 42px;
	width: 42px;
}
.footer-social-item .item-3:hover{
	background-image: url(../img/footer-inst-active.png);
}
.footer-main-contacts span{
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
	font-family: myriad;
	color: #fff;
}
.footer-main-contacts span.head{
	line-height: 1em;
	margin-bottom: 15px;
}
.footer-main-contacts span.up{
	text-transform: uppercase;
	font-size: .93em;
	line-height: 2em;
	margin-top: 5px;
}
.blog-item{
	margin-bottom: 8px;
}
.blog-item img{
	height: 80px;
	width: 80px;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-size: cover;
}
.blog-item .text span{
	color: #fff;
	font-size: 1em;
	line-height: 1.5em;
}
.blog-item .text span:first-child{
	text-transform: uppercase;
	font-size: .93em;
	line-height: 2.5em;
	font-weight: bold;
}
.galery-block{
	flex-wrap: wrap;
}
.galery-item{
	width: 82px;
	height: 82px;
	margin-bottom: 8px;
	margin-right: 8px;
}
.galery-item.item-1{
	background-image: url(../img/galery-item-1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-2{
	background-image: url(../img/galery-item-2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-3{
	background-image: url(../img/galery-item-3.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-4{
	background-image: url(../img/galery-item-4.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-5{
	background-image: url(../img/galery-item-5.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-6{
	background-image: url(../img/galery-item-6.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-7{
	background-image: url(../img/galery-item-7.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-8{
	background-image: url(../img/galery-item-8.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.galery-item.item-9{
	background-image: url(../img/galery-item-9.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-line{
	background-image: url(../img/footer-line.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 1030px;
	margin-bottom: 25px;
}
.copiright{
	color: #fff;
	font-size: 1em;
	font-family: myriad;
}
/*footer end*/